:root {
	--color-light: #f1f5f9;
  --color-black: #121212;
}

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
	background: var(--color-light);
}

.float-left-child{
  margin-top: 60px;
  display: inline-block;
}
img{
 width: 100px;
 height: 100px; 
}
h1 {
  margin-top: 48px;
}

.heading h1{
  margin-top: -30px;
  padding: 0%;
}

.title{
  margin-left: 10px;
  font-size: 2.5rem;
}

.top{
  font-size: 34px;
}
form {
  margin-top: 10px;
  background: #fff;
  max-width: 360px;
  width: 360px;
  padding: 58px 44px;
  border: 1px solid #e1e2f0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.row label {
  font-size: 13px;
  color: #8086a9;
}

.row input {
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
  color: var(--color-black);
}


.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
  color: #C8CDDF;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #77bae7;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

button:hover {
  background: #77bae7;
}

@media(max-width: 458px) {
  
  body {
    margin: 0 18px;
  }
  
  form {
    background: #f9faff;
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 20px 0;
  }

}

@media(max-width: 380px) {
  body {
    margin: 0 18px;
  }
  
  form {
    margin-left: 20px;
    background: #f9faff;
    width: 90%;
    border: none;
    box-shadow: none;
    padding: 20px 0;
  }
  .float-left-child{
    margin-top: 0;
    height: 90px;
  }
  .img{
    margin-top: 20px;
  }

}
.head{
  margin-left: 30px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.imgs{
  width: 70px;
  height: 70px; 
 }

button.log-out{
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background: #77bae7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  transition: background 0.2s ease-out;
}

.left{
  float: right;
}
.mali{
  font-size: 13px;
}

