.taskboardlist_container {
  margin: 2rem;
  -webkit-box-shadow: 9px 10px 40px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 40px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 40px -9px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 1.2rem;
}
